<div class="container category">
    <div class="row category-row">
        <div class="col-3 category-col">
            <div class="category-item"><h2><em>Men</em></h2></div>
        </div>
        <div class="col-3 category-col">
            <div class="category-item"><h2><em>Women</em></h2></div>
        </div>
        <div class="col-3 category-col">
            <div class="category-item"><h2><em>Kids</em></h2></div>
        </div>
        <div class="col-3 category-col">
            <div class="category-item"><h2><em>Baby</em></h2></div>
        </div>
    </div>
</div>